body {
  margin-left: 5%;
  margin-right: 10%;
}

#super-container {
  /* Överordnad container som innehåller de mindre */
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: column;
  align-items: center; /* Justera mot horisontell mitt */
  width: 100%;
  padding: 3%; /* Marginal mot webbläsarfönstret */
}

#header-container {
  /* Statisk text */
  font-size: 18px;
  align-items: center; /* Vertikalt centrerad */
  justify-content: center; /* Horisontellt centrerad */
  text-align: center;
}

#canvas-container {
  width: 100%;
  height: 70vh;
  border: 1px solid black;
}

#bildpåholger {
  display: none;
}
